* {
  box-sizing: border-box;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --text-size: 2rem;
  --max-width: 935px;
}

@media screen and (min-width: 425px) {
  :root {
    --text-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --text-size: 3rem;
  }
}
